@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Mulish:wght@700&family=Rajdhani:wght@500&family=Urbanist:wght@200;400&family=Work+Sans:wght@500&display=swap');

/* 

font-family: 'Alegreya', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Work Sans', sans-serif; 

*/

body{
    background-color: #f5f5f5;
    font-family: 'Urbanist', sans-serif;
}

.login-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 1em;
}

form{
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input{
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
}

#submit-btn{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    /* width: 30%; */
    cursor: pointer;
}

.alert{
    border-left: 5px solid #af4c4c;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}